<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> Your Reversed String!</h1>
  <h2><%= @reversed_string%></h2>
  <!-- Receives instance variable defined in the controller method that renders this view. Its an instsance method because you only want the data to exist for this instance of the view. -->

 </body>
</html>
